{
  "plugins": ["/home/alejosilvalau/.local/share/nvim/mason/packages/prettier/node_modules/@prettier/plugin-xml/src/plugin.js"],
  "printWidth": 80,
  "useTabs": false,
  "xmlSelfClosingSpace": true,
  "xmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["*.xml", "*.pom"],
      "options": {
        "parser": "xml",
        "tabWidth": 4
      }
    },  
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
